* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: radial-gradient(circle, #222, #000);
  color: white;
  font-family: sans-serif;
}

header,
main,
footer {
  width: min(100% - 2rem, 900px);
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

main {
  display: grid;
  place-items: center;
  padding: 2rem 0;
}

section {
  text-align: center;
}
